@font-face {
    src: url("./fonts/FormaDJRVariableNormal[opsz\,slnt\,wght]-Edu.woff2") format("woff2"),
         url('./fonts/FormaDJRVariableNormal[opsz\,slnt\,wght]-Edu.woff') format("woff");

    font-family: 'Forma';
    font-style: normal;
    font-weight: normal;
    }
    
    body{
    background-color: white;
    font-family: 'Forma';
}
/* how the page wrapper will appear on mobile */

/* how the page wrapper appears on desktop */

@media only screen and (min-width:800px){
.page-wrapper{
display: grid;
grid-gap: 0px;
grid-template-columns: 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "v" 
    "a"
    "h"
    "c";
}

#axis {
grid-area: a;
background-color: none;
}
.axis_title {
color:blue  
}

#history {
grid-area: h;
background-color: none;
column-count: 2;
column-gap: 5vw;
}

#variations{
grid-area: v;
background-color: none;
text-wrap: wrap;
width: 100%;

}
.repeat {
margin: 0;
padding: 0;
color: blue;
font-size: 6vw;
}

#characters {
background-image: url('images/characters_background.svg');
grid-area: c;
}
}
/* CSS for the footer */
footer{
    background-color: #2D86B1;
.footer_text {
    column-count: 2;
    color: white;
    font-size: 2.5vw;
    text-align: left;
    padding: 2%; 
    margin-left: 5vw;
    margin-top: 0vw;
}
.footer_title {
    column-count: 1;
    text-align: center;
    color: white;
}
  
 /* download button section */
 .download_section {
    background-color: white;
    text-align: center;
 }
 .download {
    display: inline-block;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 0px;
    margin:5%;
    border-radius: 0px;
    font-size: 6vw;
    background-color: transparent;
    color: #236F95;
    border: 1vw solid #236F95;
    transition: all 0.3s ease;
    padding: 0px 5px;
 }
 .download:hover {
    background-color: #236F95;
    color: #fff;
 }
}

/* variable font animation */
h3{
    font-weight:20; 
    text-align: center;
    font-size: 5em;
    animation: weightChange 7s infinite;
}

@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "opsz" 8, "wght" 1, "slnt" 0;
    }
    50%{font-variation-settings: "opsz" 72, "wght" 900, "slnt" -13;
    }
    
}
/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}

