@font-face {
    src: url("./fonts/FormaDJRVariableNormal[opsz\,slnt\,wght]-Edu.woff2") format("woff2"),
         url('./fonts/FormaDJRVariableNormal[opsz\,slnt\,wght]-Edu.woff') format("woff");

    font-family: 'Forma';
    font-style: normal;
    font-weight: normal;
    }
    
    body{
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        margin-top: 30vw;
        background-image: url('images/full_background.svg');
        background-repeat: no-repeat;
        /* margin: 0vw; */
        background-size: cover;
        grid-area: c;
        fill: 100vw;
        height: 100vw;
    background-color: white;
    font-family: 'Forma';
}
h6 {
    font-size: 2vw;
   }
h4 {
    font-size: 10.417vw;
   }
h3 {
    font-size: 13.889vw;
   }
h2 {
    font-size: 15.361vw;
    margin: 0vw;
   }
h1 {
    font-size: 17.361vw;
    font-weight:20; 
    text-align: left;
    animation: weightChange 7s infinite;
    margin-bottom: 3vw;
   }
p {
    font-size: 1.75vw;
   }

/* how the page wrapper will appear on mobile */

/* how the page wrapper appears on desktop */

/* @media only screen and (min-width:800px){ */
.page-wrapper{
display: grid;
grid-gap: 0vw;
grid-template-columns: 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "v" 
    "a"
    "h"
    "c";
}

#hero_section {
text-align: left;
margin-left: 4vw;
margin-top:40vw;
margin-bottom: 0vw;
}

#axis {
    margin-top: -21.5vw;
    grid-area: a;
    text-align: center;
    margin-bottom: 17.3vw;
}
.axis_title {
color:#236F95; 
font-variation-settings: "opsz" 52, "wght" 350, "slnt" -13;
letter-spacing: .3vw;
transition: all 0.3s ease;
margin-bottom: 0vw;
}
.axis_title:hover {
    font-variation-settings: "opsz" 10, "wght" 350, "slnt" -13;
    color: #3b95c2;
}
    
.axis_description {
    margin-top: 0vw;
    margin-bottom: 15vw;
    color: #2D86B1;
}
#history {
    margin: 0vw;
    background-size: cover;
    grid-area: h;
    fill: 100%;
grid-area: h;
background-color: none;
column-gap: 5vw;
}
.history_title_1 {
margin-top: 0%;
margin-bottom: 0vw;
color: white;
font-variation-settings: "opsz" 43, "wght" 900, "slnt" -13;
transition: all 0.3s ease;
}

.history_title_2 {
    margin-bottom: -1vw;
    margin-top: -8.2vw;
    margin-right: 0vw;
    margin-left: -1vw;
    transition: all 0.3s ease;
    color: #2D86B1;
    }

.history_text {
    column-count: 2;
    margin-right: 2.5vw;
    margin-left: 2.5vw;
}

.forma_container:hover{

}
#Variations{
    font-size: 7vw;
    letter-spacing: 0.1vw;
    margin-top: 5vw;
    margin-left: 3.5vw;
    margin-bottom: 0vw;
    grid-area: v;
    fill: 100%;
    color: #2D86B1;
    font-variation-settings: "opsz" 52, "wght" 400, "slnt" -4;}
.forma_container {
   font-size: 8.681vw;
   color: white;
   margin: 0vw;
   margin-top: -10vw;
   margin-right: 5vw;
   text-align: center;
   animation: ease-in-out 3s;
}
.thin {
    font-variation-settings: "opsz" 20, "wght" 100, "slnt" 0;
    font-size: 8.681vw;
    margin-top: 0vw;
    transition: all 0.3s ease;
}
.thin:hover{
    font-variation-settings: "opsz" 20, "wght" 100, "slnt" -13;
        }
.light {
    font-variation-settings: "opsz" 10, "wght" 180, "slnt" 0;
    font-size: 8.681vw;
    margin-top: -11vw;
    transition: all 0.3s ease;
}
.light:hover{
    font-variation-settings: "opsz" 40, "wght" 180, "slnt" -13;
}
.regular {
    font-variation-settings: "opsz" 10, "wght" 360, "slnt" 0;
    font-size: 8.681vw;
    margin-top: -11vw;
    transition: all 0.3s ease;
}
.regular:hover{
    font-variation-settings: "opsz" 72, "wght" 360, "slnt" -13;
}
.semibold {
    font-variation-settings: "opsz" 20, "wght" 540, "slnt" 0;
    font-size: 8.681vw;
    margin-top: -11vw;
    transition: all 0.3s ease;
}
.semibold:hover{
    font-variation-settings: "opsz" 40, "wght" 540, "slnt" -13;
}
.bold {
    font-variation-settings: "opsz" 20, "wght" 720, "slnt" 0;
    font-size: 8.681vw;
    margin-top: -11vw;
    transition: all 0.3s ease;
}
.bold:hover{
    font-variation-settings: "opsz" 20, "wght" 720, "slnt" -13;
}
.black {
    font-variation-settings: "opsz" 20, "wght" 900, "slnt" 0;
    font-size: 8.681vw;
    margin-top: -11vw;
    transition: all 0.3s ease;
}
.black:hover{
    font-variation-settings: "opsz" 20, "wght" 900, "slnt" -13;
}

#characters {
letter-spacing: 0.1vw;
margin-top: 10vw;
margin-left:25vw;
margin-bottom: 2vw;
background-size: cover;
grid-area: c;
fill: 100%;
}
.alphabet {
    margin-top: 0vw;
    margin-bottom: 0vw;
    color: #2D86B1;
    font-size: 4vw;
    overflow-wrap: break-word;
    width: 60vw;
}
.characters_title {
    margin-left:-8vw;
    color: rgb(255, 255, 255);
    margin-bottom: 2vw;
    letter-spacing: .5vw;
    font-size: 10.4vw;
    font-variation-settings: "opsz" 72, "wght" 500, "slnt" 0;
    transition: all 0.3s ease;
}
.characters_title:hover {
    font-variation-settings: "opsz" 10, "wght" 500, "slnt" 0;
}

/* CSS for the footer */
footer{
    background-color: #2D86B1;
    padding-top: 2vw;
    text-align: center;
    color:white;
    padding-bottom: 2vw;
}
.footer_title {
    column-count: 1;
    color: white;
    font-size: 4vw;
    margin-bottom: 2vw;
    margin-top: 0vw;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 2vw;}
  
 /* download button section */
 .download_section {
    fill: 100%;
    background-color: white;
    text-align: center;
    margin: 0vw;
}
    
 .download {
    font-size: 6.944vw; 
    display: inline-block;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0vw 0vw;
    margin:5vw;
    border-radius: 0px;
    background-color: transparent;
    color: #236F95;
    border: 1vw solid #236F95;
    transition: all 0.3s ease;
    padding: 0vw .5vw;
 }
 .download:hover {
    background-color: #236F95;
    color: #fff;
 }

/* variable font animation */

@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "opsz" 8, "wght" 1, "slnt" 0;
    }
    50%{font-variation-settings: "opsz" 72, "wght" 900, "slnt" -13;
    }
    
}
/* animations for the Axis section */

.slant {
    animation: slantChange 3s infinite;
    color: #236F95;
    margin: 0%;
    padding: 0%;
    margin-right:20vw;
    }

    @keyframes slantChange {
        0%, 100%{
            font-variation-settings: "wght" 100, "slnt" 0, "opsz" 8;
        }
        50%{font-variation-settings: "wght" 100, "slnt" -13, "opsz" 8;}

    }
.weight {
    animation: variation-WeightChange 3s infinite;
    color: white;
    margin-right:35vw;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0%;
    }

    @keyframes variation-WeightChange {
        0%, 100%{
            font-variation-settings: "wght" 1, "opsz" 8, "slnt" 0;
        }
        50%{font-variation-settings: "wght" 900, "opsz" 8, "slnt" 0;}

    }
.optical_size {
    animation: optical-sizeChange 3s infinite;
    color: #236F95;
    margin-right:5vw;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0%;
    }

    @keyframes optical-sizeChange {
        0%, 100%{
            font-variation-settings: "wght" 100, "opsz" 8, "slnt" 0;
        }
        50%{font-variation-settings: "wght" 100, "opsz" 72, "slnt" 0}

    }
.width {
    animation: widthChange 3s infinite;
    color: white;
    margin: 0%;
    padding: 0%;
    }

    @keyframes widthChange {
        0%, 100%{
            font-variation-settings: "wght" 100, "opsz" 8, "slnt" 0;
            transform: scaleX(1);
        }
        50%{font-variation-settings: "wght" 300, "opsz" 8, "slnt" 0;
            transform: scaleX(.5);
        }

    }

/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vw;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vw;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}
